.link {
  border-radius: 50px;
  padding: 1.4rem 2rem;
  background: #00031b;
  text-decoration: none;
  font-weight: 600;
  color: #f6f7ff;
  border: 1.5px solid #323468;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  width: fit-content;
  transition: all 0.2s;
  margin: 6rem auto;
}

.link:hover {
  box-shadow: 0 0 2rem #743ad5;
}

.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catchphrase {
  font-size: 8rem;
}

.coloredWord {
  color: #828fff;
}
